# Section 2:
___

## Imports

In [2]:
import pandas as pd
from shutil import unpack_archive

## Extract Data

In [4]:
unpack_archive('PartD_Prescriber_PUF_NPI_17.zip', './')
unpack_archive('PartD_Prescriber_PUF_NPI_16.zip', './')

In [11]:
NPI_16= './PartD_Prescriber_PUF_NPI_16.txt'
df16 = pd.read_table(NPI_16,sep='\t',)
df16.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,80.0,153.0,NaN,0.0,NaN,0.0,NaN,102.0,68.0,2.1950
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,88.0,159.0,54.0,NaN,NaN,0.0,NaN,108.0,117.0,1.8032
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,12.0,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,1.0949
3,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,11.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,1.7014
4,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,64.0,NaN,NaN,0.0,0.0,0.0,NaN,129.0,61.0,1.9105

In [12]:
NPI_17 = './PartD_Prescriber_PUF_NPI_17.txt'
df17 = pd.read_table(NPI_17,sep='\t',)
df17.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148

In [166]:
d_npi = pd.DataFrame(df17['npi'].apply(lambda x: str(x)), columns=['npi'])

In [168]:
d_npi.describe()

               npi
count      1162898
unique     1162898
top     1760428528
freq             1

## Investigate the Data

In [165]:
df17[['nppes_provider_last_org_name','nppes_provider_first_name']].describe()

       nppes_provider_last_org_name nppes_provider_first_name
count                       1162864                   1162876
unique                       262445                     82704
top                           SMITH                   MICHAEL
freq                           6284                     22654

In [13]:
print(df16.shape, df17.shape)

(1131550, 84) (1162898, 84)

## Q1:  
In 2017, what was the average number of beneficiaries per provider? Due to the suppression of data for those with few beneficiaries, we can only include those with more than 10 beneficiaries.

In [20]:
df17['bene_count'].head(6)

0    234.0
1    276.0
2     33.0
3      NaN
4     11.0
5    117.0
Name: bene_count, dtype: float64

In [154]:
ans1 = df17[ df17['bene_count']> 10 ]['bene_count'].mean()

In [155]:
print(ans1)

158.3494585173676

## Q2:  
Work out for each Specialty the fraction of drug claims that are for brand-name drugs. Include only providers for whom the relevant information has not been suppressed, and consider only specialties with at least 1000 total claims. What is the standard deviation of these fractions?

In [25]:
col = ['brand_claim_count', 'total_claim_count']

In [62]:
d_q = df17[(df17[col[0]].notnull()) & (df17[col[1]]>= 1000)][[col[0],col[1]]]

In [156]:
ans2 = (d_q[col[0]]/d_q[col[1]]).std()
print(ans2)

0.12172085262426646

## Q3:
Let's find which states have surprisingly high supply of opioids, conditioned on specialty. Work out the average length of an opioid prescription for each provider. For each (state, specialty) pair with at least 100 providers, calculate the average of this value across all providers. Then find the ratio of this value to an equivalent quantity calculated from providers in each specialty across all states. What is the largest such ratio?

In [68]:
col3 = ['opioid_claim_count', 'nppes_provider_state']

In [71]:
d_q3 = df17[[col3[0],col3[1]]]

In [140]:
d_result = d_q3[d_q3[col3[0]]>=100][col3]

In [141]:
d_q3_pair = d_result.groupby(col3[1]).mean()

In [105]:
print(d_result.head())
print(d_q3_pair.head())

    opioid_claim_count nppes_provider_state
1               1040.0                   OH
8                128.0                   FL
9                168.0                   PA
16               150.0                   KY
23              1285.0                   CA
                      opioid_claim_count
nppes_provider_state
AE                            253.000000
AK                            318.496732
AL                            660.948216
AP                            262.000000
AR                            541.656974

In [142]:
dd = dict(zip(d_q3_pair.index,  d_q3_pair['opioid_claim_count']))

In [143]:
d_result['avr/count'] = d_result[col3[1]].apply(lambda x: dd[x]) / d_result[col3[0]]

In [144]:
d_result.tail()

         opioid_claim_count nppes_provider_state  avr/count
1162853               595.0                   MI   0.705692
1162875               188.0                   TX   2.373528
1162880               151.0                   CA   2.389907
1162881               156.0                   FL   3.260915
1162887               187.0                   CA   1.929818

In [148]:
d_result[d_result['avr/count'] == d_result['avr/count'].max()]

         opioid_claim_count nppes_provider_state  avr/count
39491                 100.0                   AL   6.609482
102074                100.0                   AL   6.609482
153824                100.0                   AL   6.609482
264297                100.0                   AL   6.609482
311430                100.0                   AL   6.609482
535461                100.0                   AL   6.609482
572883                100.0                   AL   6.609482
866012                100.0                   AL   6.609482
869697                100.0                   AL   6.609482
888041                100.0                   AL   6.609482
939790                100.0                   AL   6.609482
1012556               100.0                   AL   6.609482

In [157]:
ans3 = d_result['avr/count'].max()
print(ans3)

6.609482155353394

## Q4:
For each provider, estimate the length of the average prescription from the total_day_supply and total_claim_count. What is the median, in days, of the distribution of this value across all providers?

In [269]:
col4 = ['total_day_supply', 'total_claim_count']

Number of Day’s Supply for All Claims, Number of Medicare Part D Claims

In [270]:
d_q4 = df17[(df17[col4[0]]>10) & (df17[col4[1]]>10)][col4]
d_q4['avr'] = d_q4[col4[0]] / d_q4[col4[1]]
d_q4.head()

   total_day_supply  total_claim_count        avr
0             14788                677  21.843427
1             58605               1946  30.115622
2               430                 55   7.818182
3               150                 18   8.333333
4              2681                 90  29.788889

In [271]:
d_ans4 = d_q4[d_q4['avr'] == d_q4['avr'].median()]
d_ans4

        total_day_supply  total_claim_count        avr
672413              4962                167  29.712575
806975              4962                167  29.712575

In [272]:
ans4 = list(d_ans4['total_day_supply'])[0]

In [273]:
print(ans4)

4962

## Q5:
Find the ratio of beneficiaries with opioid prescriptions to beneficiaries with antibiotics prescriptions in each state. Assume that each beneficiary attends only a single provider. What is the difference between the largest and smallest ratios?

In [196]:
col5 = ['opioid_bene_count', 'antibiotic_bene_count', 'nppes_provider_state']

In [216]:
d_q5 = df17[(df17['opioid_bene_count']>10) & (df17['antibiotic_bene_count']>10)][col5]
d_sol = d_q5[col5].groupby([col5[-1]]).sum()
d_sol.head()

                      opioid_bene_count  antibiotic_bene_count
nppes_provider_state
AA                                145.0                  256.0
AE                                879.0                 1318.0
AK                              12085.0                16566.0
AL                             459780.0               585426.0
AP                                653.0                 1294.0

In [217]:
d_sol['opioid/antibiotic'] = d_sol[col5[0]] / d_sol[col5[1]]
d_sol.head()

,opioid_bene_count,antibiotic_bene_count,opioid/antibiotic
nppes_provider_state,,,
AA,145.0,256.0,0.566406
AE,879.0,1318.0,0.666920
AK,12085.0,16566.0,0.729506
AL,459780.0,585426.0,0.785377
AP,653.0,1294.0,0.504637

In [218]:
ans5 = d_sol['opioid/antibiotic'].max() - d_sol['opioid/antibiotic'].min()
print(ans5)

0.4784023572960003

## Q6
For each provider where the relevant columns are not suppressed, work out the fraction of claims for beneficiaries age 65 and older, as well as the fraction of claims for beneficiaries with a low-income subsidy. What is the Pearson correlation coefficient between these values?

In [220]:
col6 = ['total_claim_count_ge65', 'lis_claim_count', 'total_claim_count']

In [229]:
d_q6 = df17[(df17[col6[0]]>10) & (df17[col6[1]]>10) & (df17[col6[2]]>10)][col6]
d_q6.head()

   total_claim_count_ge65  lis_claim_count  total_claim_count
0                   516.0            305.0                677
1                   881.0           1184.0               1946
4                    65.0             73.0                 90
5                  2700.0           1990.0               2788
6                   118.0             70.0                200

In [230]:
d_q6['ge65_total_claim'] = d_q6[col6[0]] / d_q6[col6[2]]
d_q6['lis_claim_total_claim'] = d_q6[col6[1]] / d_q6[col6[2]]
d_q6.head()

,total_claim_count_ge65,lis_claim_count,total_claim_count,ge65_total_claim,lis_claim_total_claim
0,516.0,305.0,677,0.762186,0.450517
1,881.0,1184.0,1946,0.452724,0.608428
4,65.0,73.0,90,0.722222,0.811111
5,2700.0,1990.0,2788,0.968436,0.713773
6,118.0,70.0,200,0.590000,0.350000

In [236]:
ans6 = d_q6[['ge65_total_claim','lis_claim_total_claim']].corr(method='pearson')
ans6 = list(ans6['ge65_total_claim'])[-1]
print(ans6)

-0.5838485231117352

## Q7:
For each provider for whom the information is not suppressed, figure out the average cost per day of prescriptions in both 2016 and 2017. Use this to estimate the inflation rate for daily prescription costs per provider. What is the average inflation rate across all providers?

In [259]:
col7 = ['npi', 'total_drug_cost', 'total_day_supply']

In [261]:
d_q7_6 = df16[(df16[col7[1]]>10) & (df16[col7[2]]>10) & (df16[col7[0]].notnull())][col7]
d_q7_6['avr_per_day'] = df16[col7[1]]/df16[col7[2]]
d_q7_6.head()

          npi  total_drug_cost  total_day_supply  avr_per_day
0  1003000126         33618.18             12120     2.773777
1  1003000142        139695.81             51314     2.722372
2  1003000167           267.81               509     0.526149
3  1003000282          4587.11              5939     0.772371
4  1003000407        112183.11             45674     2.456170

In [263]:
d_q7_7 = df17[(df17[col7[1]]>10) & (df17[col7[2]]>10) & (df17[col7[0]].notnull())][col7]
d_q7_7['avr_per_day'] = df17[col7[1]]/df17[col7[2]]
d_q7_7.head()

          npi  total_drug_cost  total_day_supply  avr_per_day
0  1003000126         32639.57             14788     2.207166
1  1003000142        140189.01             58605     2.392100
2  1003000167           302.01               430     0.702349
3  1003000175           113.81               150     0.758733
4  1003000282          7561.21              2681     2.820295

In [264]:
print(d_q7_6.shape,d_q7_7.shape)

(1131541, 4) (1162881, 4)

In [265]:
result = pd.merge(d_q7_6, d_q7_7, how='inner', on='npi')
result.head()

,npi,total_drug_cost_x,total_day_supply_x,avr_per_day_x,total_drug_cost_y,total_day_supply_y,avr_per_day_y
0,1003000126,33618.18,12120,2.773777,32639.57,14788,2.207166
1,1003000142,139695.81,51314,2.722372,140189.01,58605,2.392100
2,1003000167,267.81,509,0.526149,302.01,430,0.702349
3,1003000282,4587.11,5939,0.772371,7561.21,2681,2.820295
4,1003000407,112183.11,45674,2.456170,108601.73,50677,2.143018

In [267]:
result.shape

(1054552, 7)

In [280]:
result['rate'] = ((result['avr_per_day_y']-result['avr_per_day_x'])/result['avr_per_day_x'])*100
result.head()

,npi,total_drug_cost_x,total_day_supply_x,avr_per_day_x,total_drug_cost_y,total_day_supply_y,avr_per_day_y,rate
0,1003000126,33618.18,12120,2.773777,32639.57,14788,2.207166,-20.427426
1,1003000142,139695.81,51314,2.722372,140189.01,58605,2.392100,-12.131788
2,1003000167,267.81,509,0.526149,302.01,430,0.702349,33.488502
3,1003000282,4587.11,5939,0.772371,7561.21,2681,2.820295,265.147773
4,1003000407,112183.11,45674,2.456170,108601.73,50677,2.143018,-12.749602

In [281]:
ans7 = result['rate'].mean()
print(ans7)

22.74759840983179

## Q8:
Consider all providers with a defined specialty in both years. Find the fraction of providers who left each specialty between 2016 and 2017. What is the largest such fraction, when considering specialties with at least 1000 proviers in 2016? Note that some specialties have a fraction of 1 due to specialty name changes between 2016 and 2017; disregard these specialties in calculating your answer.

In [302]:
col8 = ['npi', 'specialty_description']
d_q8_6= df16[(df16[col8[0]].notnull()) & (df16[col8[1]].notnull())][col8]
d_q8_6 = d_q8_6[col8].groupby(col8[1],as_index=False).count()

In [303]:
col8 = ['npi', 'specialty_description']
d_q8_7= df17[(df17[col8[0]].notnull()) & (df17[col8[1]].notnull())][col8]
d_q8_7 = d_q8_7[col8].groupby(col8[1],as_index=False).count()

In [309]:
result = pd.merge(d_q8_6, d_q8_7, how='inner', on='specialty_description')
result['frac_left'] = (result['npi_x']-result['npi_y'])/result['npi_x']
result = result[result['npi_x']>=1000]
result.head()

                  specialty_description  npi_x  npi_y  frac_left
3                   Allergy/ Immunology   3600   4026  -0.118333
5                        Anesthesiology   7180   7057   0.017131
9                       Cardiac Surgery   1182   1096   0.072758
12  Certified Clinical Nurse Specialist   2710   2652   0.021402
13              Certified Nurse Midwife   2385   2457  -0.030189

In [314]:
ans8 = result['frac_left'].max()
print(ans8)

0.10131332082551595

## Q9:
Please provide the script used to compute your response (max 10000 characters)

In [10]:
#Imports
import pandas as pd
from shutil import unpack_archive
"""
#Extract Data
unpack_archive('PartD_Prescriber_PUF_NPI_17.zip', './')
unpack_archive('PartD_Prescriber_PUF_NPI_16.zip', './')

#Examine Data
NPI_16= './PartD_Prescriber_PUF_NPI_16.txt'
NPI_17 = './PartD_Prescriber_PUF_NPI_17.txt'
df16 = pd.read_table(NPI_16,sep='\t',)
df17 = pd.read_table(NPI_17,sep='\t',)
print(df16.head())
print(df17.head())
print(df16[['nppes_provider_last_org_name','nppes_provider_first_name']].describe())
print(df17[['nppes_provider_last_org_name','nppes_provider_first_name']].describe())
print(df16.shape, df17.shape)"""

#Q1:
ans = df17[ df17['bene_count']> 10 ]['bene_count'].mean()
print('Q1: {} \n'.format(ans1))

#Q2:
col = ['brand_claim_count', 'total_claim_count']
d_q = df17[(df17[col[0]].notnull()) & (df17[col[1]]>= 1000)][[col[0],col[1]]]
ans2 = (d_q[col[0]]/d_q[col[1]]).std()
print('Q2: {}\n'.format(ans2))

#Q3:
col3 = ['opioid_claim_count', 'nppes_provider_state']
d_q3 = df17[[col3[0],col3[1]]]
d_result = d_q3[d_q3[col3[0]]>=100][col3]
d_q3_pair = d_result.groupby(col3[1]).mean()
dd = dict(zip(d_q3_pair.index,  d_q3_pair['opioid_claim_count']))
d_result['avr/count'] = d_result[col3[1]].apply(lambda x: dd[x]) / d_result[col3[0]]
ans3 = d_result['avr/count'].max()
print('Q3: {}\n'.format(ans3))

#Q4
col4 = ['total_day_supply', 'total_claim_count']
d_q4 = df17[(df17[col4[0]]>10) & (df17[col4[1]]>10)][col4]
d_q4['avr'] = d_q4[col4[0]] / d_q4[col4[1]]
d_ans4 = d_q4[d_q4['avr'] == d_q4['avr'].median()]
ans4 = list(d_ans4['total_day_supply'])[0]
print('Q4: {}\n'.format(ans4))

#Q5:
col5 = ['opioid_bene_count', 'antibiotic_bene_count', 'nppes_provider_state']
d_q5 = df17[(df17['opioid_bene_count']>10) & (df17['antibiotic_bene_count']>10)][col5]
d_sol = d_q5[col5].groupby([col5[-1]]).sum()
d_sol['opioid/antibiotic'] = d_sol[col5[0]] / d_sol[col5[1]]
ans5 = d_sol['opioid/antibiotic'].max() - d_sol['opioid/antibiotic'].min()
print('Q5: {}\n'.format(ans5))

#Q6:
col6 = ['total_claim_count_ge65', 'lis_claim_count', 'total_claim_count']
d_q6 = df17[(df17[col6[0]]>10) & (df17[col6[1]]>10) & (df17[col6[2]]>10)][col6]
d_q6['ge65_total_claim'] = d_q6[col6[0]] / d_q6[col6[2]]
d_q6['lis_claim_total_claim'] = d_q6[col6[1]] / d_q6[col6[2]]
ans6 = d_q6[['ge65_total_claim','lis_claim_total_claim']].corr(method='pearson')
ans6 = list(ans6['ge65_total_claim'])[-1]
print('Q6: {}\n'.format(ans6))

#Q7:
col7 = ['npi', 'total_drug_cost', 'total_day_supply']
d_q7_6 = df16[(df16[col7[1]]>10) & (df16[col7[2]]>10) & (df16[col7[0]].notnull())][col7]
d_q7_6['avr_per_day'] = df16[col7[1]]/df16[col7[2]]
d_q7_7 = df17[(df17[col7[1]]>10) & (df17[col7[2]]>10) & (df17[col7[0]].notnull())][col7]
d_q7_7['avr_per_day'] = df17[col7[1]]/df17[col7[2]]
result = pd.merge(d_q7_6, d_q7_7, how='inner', on='npi')
result['rate'] = ((result['avr_per_day_y']-result['avr_per_day_x'])/result['avr_per_day_x'])*100
ans7 = result['rate'].mean()
print('Q7: {}\n'.format(ans7))

#Q8:
col8 = ['npi', 'specialty_description']
d_q8_6= df16[(df16[col8[0]].notnull()) & (df16[col8[1]].notnull())][col8]
d_q8_6 = d_q8_6[col8].groupby(col8[1],as_index=False).count()
col8 = ['npi', 'specialty_description']
d_q8_7= df17[(df17[col8[0]].notnull()) & (df17[col8[1]].notnull())][col8]
d_q8_7 = d_q8_7[col8].groupby(col8[1],as_index=False).count()
result = pd.merge(d_q8_6, d_q8_7, how='inner', on='specialty_description')
result['frac_left'] = (result['npi_x']-result['npi_y'])/result['npi_x']
result = result[result['npi_x']>=1000]
ans8 = result['frac_left'].max()
print('Q8: {}\n'.format(ans8))

Q1: 158.3494585173676

Q2: 0.12172085262426646

Q3: 6.609482155353394

Q4: 4962

Q5: 0.4784023572960003

Q6: -0.5838485231117352

Q7: 22.74759840983179

Q8: 0.10131332082551595

# Section 3:
___

Coins with values 1 through N (inclusive) are placed into a bag. All the coins from the bag are iteratively drawn (without replacement) at random. For the first coin, you are paid the value of the coin. For subsequent coins, you are paid the absolute difference between the drawn coin and the previously drawn coin. For example, if you drew 5,3,2,4,1, your payments would be 5,2,1,2,3 for a total payment of 13.

Please provide 5 digits of precision for all answers.

In [1]:
import random as rn
import statistics as st
import itertools

In [3]:
def payments(N):
    #rn.seed(0)
    num = rn.sample(range(1,N+1), N)
    pay = [0]*N
    total_pay = 0
    for i in range(N):
        if i == 0:
            pay[i] = num[i]
            total_pay += pay[i]
        else:
            pay[i] = abs(num[i]-num[i-1])
            total_pay += pay[i]
    return num, pay, total_pay

def prob_payment(N, total_expected):
    num = list(itertools.permutations(range(1,N+1)))
    pay = [0]*len(num)
    count = 0
    for k,j in enumerate(num):
        total_pay = 0
        for i in range(N):
            if i == 0:
                total_pay += j[i]
            else:
                total_pay += abs(j[i]-j[i-1])
        if total_pay >= total_expected:
            count += 1
        pay[k] = total_pay
    return count / len(num)

def prob_cal_payment(N,t):
    count = 0
    for i in range(0,10000000+1):
        _, _, total_pay = payments(N)
        if total_pay >= t:
            count += 1
    return count/(i+1)

In [3]:
num, pay, total_pay = payments(10)
print(num, pay, total_pay)

[7, 4, 1, 6, 10, 8, 9, 5, 2, 3] [7, 3, 3, 5, 4, 2, 1, 4, 3, 1] 33

## Q1:
What is the mean of your total payment for N=10?

In [6]:
N = 10
num, pay, total_pay = payments(N)
ans1 = st.mean(pay)
print('Q1: {}\n'.format(ans1))
print(num, pay, total_pay)

Q1: 2.8

[2, 6, 9, 10, 7, 5, 8, 1, 3, 4] [2, 4, 3, 1, 3, 2, 3, 7, 2, 1] 28

## Q2:
What is the mean of your total payment for N=20?

In [10]:
N = 20
num, pay, total_pay = payments(N)
ans2 = st.mean(pay)
print('Q1: {}\n'.format(ans2))

Q1: 7.15

## Q3:
What is the probability that your total payment is greater than or equal to 45 for N=10?

In [11]:
p = prob_cal_payment(10,45)
print('Q3: {}\n'.format(p))

Q3: 0.18181738181826182

In [12]:
p = prob_payment(10, 45)
print('Q3: {}\n'.format(p))

Q3: 0.1817956349206349

In [5]:
((0.1817956349206349-0.18181738181826182)/0.1817956349206349)*100

-0.011962277112099129

## Q4:
What is the standard deviation of your total payment for N=10?

In [83]:
N = 10
num, pay, total_pay = payments(N)
ans4 = st.stdev(pay)
print('Q4: {}\n'.format(ans4))

Q4: 2.8596814119369625

## Q5:
What is the standard deviation of your total payment for N=20?

In [84]:
N = 20
num, pay, total_pay = payments(N)
ans5 = st.stdev(pay)
print('Q5: {}\n'.format(ans5))

Q5: 5.062504061076994

## Q6:
What is the probability that your total payment is greater than or equal to 160 for N=20?

In [4]:
p = prob_cal_payment(20,160)
print('Q6: {}\n'.format(p))

Q6: 0.19765348023465198

In [ ]:
#Import Libraries
import random as rn
import statistics as st

#define payment functions
def payments(N):
    #rn.seed(0)
    num = rn.sample(range(1,N+1), N)
    pay = [0]*N
    total_pay = 0
    for i in range(N):
        if i == 0:
            pay[i] = num[i]
            total_pay += pay[i]
        else:
            pay[i] = abs(num[i]-num[i-1])
            total_pay += pay[i]
    return num, pay, total_pay

def prob_payment(N, total_expected):
    num = list(itertools.permutations(range(1,N+1)))
    pay = [0]*len(num)
    count = 0
    for k,j in enumerate(num):
        total_pay = 0
        for i in range(N):
            if i == 0:
                total_pay += j[i]
            else:
                total_pay += abs(j[i]-j[i-1])
        if total_pay >= total_expected:
            count += 1
        pay[k] = total_pay
    return count / len(num)

def prob_cal_payment(N,t):
    count = 0
    for i in range(10000000):
        _, _, total_pay = payments(N)
        if total_pay >= t:
            count += 1
    return count/(i+1)

#Check output to confirm workability of function
num, pay, total_pay = payments(5)
print(num, pay, total_pay)

#Q1:
N = 10
num, pay, total_pay = payments(N)
ans1 = st.mean(pay)
print('Q1: {}\n'.format(ans1))

#Q2:
N = 20
num, pay, total_pay = payments(N)
ans2 = st.mean(pay)
print('Q1: {}\n'.format(ans2))

#Q3:
p3 = prob_cal_payment(10,45)
print('Q3: {}\n'.format(p3))

#Q4:
N = 10
num, pay, total_pay = payments(N)
ans4 = st.stdev(pay)
print('Q4: {}\n'.format(ans4))

#Q5:
N = 20
num, pay, total_pay = payments(N)
ans5 = st.stdev(pay)
print('Q5: {}\n'.format(ans5))

#Q6:
p6 = prob_cal_payment(20,160)
print('Q6: {}\n'.format(p6))